.black-nav {
  text-align: left;
}

.black-nav {
  /* background : yellowgreen; */
  background : black;
  text-align: center;
  width : 100%;
  color : white;
  font-size: 30px;
  padding : 20px;
}

.listContainer {
  display : flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
}

.clickBtn {
  cursor: pointer;
}

.list {
  width:200px;
}

.detailmodal {
  text-align:center;
}

.modalContainer {
  margin-top : 30px;
  display : flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  margin-bottom:20px;

}

#img_div {
  width:200px;
  height:200px;
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  border:solid 1px gray;
}

.makeCursor {
  cursor: pointer;
}

.deleteBtn {
  margin-left:10px;
}

.detailDiv {
  margin-top:20px;
}