.black-nav {
  text-align: center;
}

.black-nav {
  /* background : yellowgreen; */
  background : black;
  text-align: center;
  width : 100%;
  color : white;
  font-size: 30px;
  padding : 20px;
}

.listContainer {
  display : flex;
  justify-content: space-evenly;
}

.clickBtn {
  cursor: pointer;
}